body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   height: 100%;
}

main {
    border: 1px dashed black;
    background-color: grey;
    height: 100%;
}

aside {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5e5ec3;
    z-index: 1;
    vertical-align: middle;
}

aside a {
    text-decoration: none;
    color:inherit;
}

aside h1 {
    padding-left: 10px;
    font-style: italic;
}

aside ul {
    list-style: none;
    color: #ffffff; 
    margin-top: 31px;
    padding-left: 0px;
    font-size: 25px;    
}

aside li {
     border-bottom: 1px solid #3c3c80;
     padding: 15px 10px;
}

aside li::before {

    content: url("images/play.png");
    padding: 0px 10px;

}

aside li:first-child {
    
    border-top: 1px solid #3c3c80;

}

header {
     text-align: center;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: darkgray;
    height: 75px;
    text-align: center;
}

button {
    padding: 20px;
    float: right;
    margin-right: 30px;
}

button:hover, button:active {
    background-color:#5e5ec3;
    box-sizing: border-box;
}

.unrender {

    display: none;

}