.menu-wrapper {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
}

.main-menu {
    left: 0;
    background-color: #5e5ec3;
    z-index: 3;
}

.main-menu h1 {
    padding-left: 10px;
    font-style: italic;
}

.main-menu ul {
    margin-top: 80px;
    padding-left: 0px;
    font-size: 25px;    
    list-style: none;
}

.main-menu li {
     border-bottom: 1px solid #3c3c80;
}

.main-menu li:first-child {
    border-top: 1px solid #3c3c80;
}

.main-menu a {
    text-decoration: none;
    color: #ffffff; 
    padding: 15px 10px;
    display: block;
}

.main-menu a::before {
    content: url("images/play.png");
    padding: 0px 10px;
    display: inline;
}

.main-menu a:hover, 
.main-menu .selected {
    background-color:#3c3c80;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.sub-menu {
    z-index: -1;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    background-color: #3c3c80;
    transition-property: visibility left opacity;
    transition: .25s ease-out;
}

.main-menu .selected + .sub-menu {
    visibility: visible;
    opacity: 1;
    left: 250px;
}

.sub-menu ul {
    margin-top: 128px;
}

.sub-menu li {
     border-bottom-color: #2c2c50;
}

.sub-menu a::before {
    content: url('images/target.png');
}

.sub-menu a:hover {
    background-color: #2c2c50;
}