@media only screen and (max-width: 599px){

    #left-pane.menu-wrapper {
        top: 50px;
        width:100%;
    }
    .main-menu .selected + .sub-menu.menu-wrapper {
        width: 100%;
        display: block;
        position:static;
    }
    
    .sub-menu.menu-wrapper ul {
        margin-top: 0;
    }

    #mybutton.menu-button {
        z-index:3;
        width: 100%;
        height:50px;
        display: block;
        top:-10px;
    }
    .site header {
        padding-right: 0px;
    }

}

}